@keyframes wipeUp {
    0%{
        top:75%;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
    
}

body{
    background-image: url("background.jpg");
    background-attachment: fixed;
    
    background-size:100%;
    color: grey;
    
}
div{
   display: inline-block;
    width: 800px;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    top: 0px;
}
div#intro{
    justify-content: center;
    text-align: center;
}
img{
    height:600px;
   
    border-radius: 10px;
}

div.section2 h1{
    font-size:xx-large;
    font-weight: 1000;
}

li{
    list-style: none;
    font-size: xx-large;
}
h1{
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    
}
input{
    width: 700px;
    margin-bottom: 4px;
    padding-top: 2px;
    border-radius: 5px;
    height: 25px;
}

textarea{
    text-align: left;
    border-radius: 5px;
}
button{
    height:40px;
    width: 100px;
}
